<!DOCTYPE html>
<html lang="{{ site.tondo.html_lang }}">

<head>
  {%- include head.html -%}
</head>

{%- if site.tondo.condensed_mobile contains page.layout -%}
{% assign condensed_class = "condensed" %}
{% else %}
{% assign condensed_class = "" %}
{%- endif -%}

<body>
  <main class="container">
    <section class="about">
      <div class="about-header {{condensed_class}}">
      <div class="about-title">
	         <a href="{{ "/" | relative_url}}">
        {% if site.tondo.portfolio_image_dark and site.tondo.dark_mode %}
        <img class="light" src="{{site.baseurl }}/{{ site.tondo.portfolio_image }}" alt="{{ site.tondo.name }}" />
        <img class="dark" src="{{site.baseurl }}/{{ site.tondo.portfolio_image_dark }}" alt="{{ site.tondo.name }}" />
        {% else %}
        <img src="{{site.baseurl }}/{{ site.tondo.portfolio_image }}" alt="{{ site.tondo.name }}" />
        {% endif %}
      </a>
	  </div>
      {%- if site.tondo.tagline -%}
      <p class="tagline">{{ site.tondo.tagline }}</p>
      {%- endif -%}
      </div>
      <h2 id="title">
        <a href="{{ "/" | relative_url}}">{{ site.tondo.name }}</a>
      </h2>
     
      {% capture footer %}
      {%- if site.tondo.social_links != '' -%}
      <ul class="social about-footer {{condensed_class}}">
        {%- if site.tondo.social_links.github -%}
        <a href="https://github.com/{{ site.tondo.social_links.github }}" target="_blank">
          <li>
            <i class="fa-brands fa-square-github"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.tondo.social_links.linkedIn -%}
        <a href="https://www.linkedin.com/{{ site.tondo.social_links.linkedIn }}" target="_blank">
          <li>
            <i class="fa-brands fa-linkedin"></i>
          </li>
        </a>
        {%- endif -%}
		{%- if site.tondo.social_links.researchgate -%}
        <a href="https://www.researchgate.net/profile/{{ site.tondo.social_links.researchgate }}" target="_blank">
          <li>
            <i class="fa-brands fa-researchgate"></i>
          </li>
        </a>
        {%- endif -%}
		{%- if site.tondo.social_links.mail -%}
        <a href="mailto:{{ site.tondo.social_links.mail }}" target="_blank">
          <li>
            <i class="fa-solid fa-envelope"></i>
          </li>
        </a>
        {%- endif -%}
		{%- if site.tondo.social_links.uni -%}
        <a href="{{ site.tondo.social_links.uni }}" target="_blank">
          <li>
            <i class="fa-solid fa-building-columns"></i>
          </li>
        </a>
        {%- endif -%}
      </ul>
      {%- endif -%}
      {%- if site.tondo.navigation -%}
	  <hr style="height:2px;width:100%;text-align:left;margin-left:0;color:gray;background-color:gray;border-width:0"> 
      <nav class="navigation about-footer {{condensed_class}}">
        <ul style="border-style: none">
		  <li style=""> <a style="color:gray">Topics</a> </li>
          {% for link in site.tondo.navigation %}
          <li style="border-style: none">
            <a style="border-style: none; height: 0.1em" href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
	  <hr style="height:2px;width:100%;text-align:left;margin-left:0;color:gray;background-color:gray;border-width:0"> 
      {%- endif -%}
      <p class="about-footer {{condensed_class}}">&copy;
        {{ "now" | date: "%Y" }}</p>
      {%- if site.tondo.dark_mode -%}
      <div class="about-footer {{condensed_class}}">
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" class="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
	  
      {%- endif -%}
      {% endcapture %}
      {{ footer }}
    </section>
    <section class="content">
      {{ content }}
    </section>
	
    <footer class="{{condensed_class}}">
      {{ footer }}
    </footer>
	
  </main>
  {% if site.tondo.dark_mode %}
  <script type="text/javascript" src="{{ "/assets/js/darkmode.js" | relative_url }}""></script>
  {% endif %}

  {%- if site.tondo.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.tondo.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.tondo.analytics_id }}');
  </script>
  {%- endif -%}

  {% if site.tondo.search %}
  <script src="{{ "/assets/js/simple-jekyll-search.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/search.js" | relative_url }}""></script>
  {% endif %}
  
</body>


</html>
